//
//  Bundle.xcconfig
//  ESFramework
//
//  Created by Elf Sundae on 14-4-14.
//  Copyright (c) 2014 www.0x123.com. All rights reserved.
//

//TARGET_NAME = ESFramework
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = iphoneos7.1
ONLY_ACTIVE_ARCH = NO
ARCHS = $(ARCHS_STANDARD)
COMBINE_HIDPI_IMAGES = NO
SKIP_INSTALL = YES